html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;

  --main-color: #4db6ac;
}

body {
  padding: 15px;
}

h1 {
  margin: 0;
  font-family: monospace, sans-serif;
  color: var(--main-color);
}

.search-form {
  display: flex;
  align-items: center;
  width: 300px;
}

.search-form input {
  flex: 1;
  margin-right: 10px;
  height: 30px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid var(--main-color);
  outline: none;
}

.search-form button {
  padding: 0;
  border: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  cursor: pointer;
}

.search-form button:focus {
  outline: none;
}

.search-form button:disabled {
  opacity: 0.5;
  cursor: default;
}

.search-form button img {
  width: 100%;
  height: 100%;
}

#loading {
  text-align: center;
}

#loading img {
  width: 40px;
}

#result dl {
  margin: 10px 0;
}

#result dl dt {
  font-size: 1rem;
}

#result dl dd {
  margin-left: 0;
  margin-top: 5px;
  font-size: 0.875rem;
}
